<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=2.1.505.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
                     Microsoft.Practices.Unity" />
      <!-- Custom object types -->
      <typeAlias alias="IMessage" type="UnityTest.IMessage, UnityTest"/>
      <typeAlias alias="SimpleMessage" type="UnityTest.SimpleMessage, UnityTest"/>
      <typeAlias alias="ExtendedMessage" type="UnityTest.ExtendedMessage, UnityTest"/>
      <typeAlias alias="IMessageSender" type="UnityTest.IMessageSender, UnityTest"/>
      <typeAlias alias="MessageSender" type="UnityTest.MessageSender, UnityTest"/>
      <typeAlias alias="IMessageFormat" type="UnityTest.IMessageFormat, UnityTest"/>
      <typeAlias alias="MessageTextFormat" type="UnityTest.MessageTextFormat, UnityTest"/>
      <typeAlias alias="MessageXmlFormat" type="UnityTest.MessageXmlFormat, UnityTest"/>
    </typeAliases>
    <containers>
      <container name="containerOne">
        <types>
          <!-- Default (un-named) mapping for IMyInterface to MyRealObject-->
          <type type="IMessage" mapTo="SimpleMessage"/>
          <type type="ExtendedMessage" mapTo="ExtendedMessage" name="ExtendedMessage">
            <lifetime type="singleton" />
          </type>
        </types>
        <type type="IMessageFormat" mapTo="MessageTextFormat"/>
        <type type="IMessageSender" mapTo="MessageSender"/>
      </container>
    </containers>
  </unity>
</configuration>